html, body {
    width: 100%; 
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cutive Mono', monospace;
    scroll-behavior: smooth;
}

/* loader */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(172, 149, 149, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #000000;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}   

header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 10px;
}

/* galeria virtual */
.exposicion-temporal {
    width: 100%;
    height: auto;
    background-color: rgba(99, 0, 0, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.exposicion-temporal:hover {
    background-color: rgba(99, 0, 0, 0.712);
}

.exposicion-temporal-text {
    margin: 10px auto;
}

/* fin galeria virtual */

nav {
    display: flex;
    justify-content: center;
}

.menu {
    width: 400px;
    height: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 1000;
    margin: 0 0 20px 0;
    padding: 0;
}

.menu-mobile-background {
    display: none;
}

a {
    color: black;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.item-menu:hover {
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.205)24, 22, 22;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 40%;
    max-width: 400px;
    min-width: 200px;
}

img{
    max-width: 100%;
    background-size: cover;
}

.container-all{
    width: 100%;
    max-width: 1260px;
    overflow: hidden;
    height: 25%;
    max-height: 500px;
    border-radius: 6px;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 1000ms;
    animation-name: autoplay;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20px;
    position: relative;
    bottom: 50px;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 30px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

.background-obras {
    display: flex;
    justify-content: center;
    width: 100%;
}

.background-obras-mobile {
    display: none;
}

.obras {
    width: 70%;
    max-width: 900px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.cuadro-imagen {
    width: auto;
    height: 250px;
    margin: 8px auto;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(163, 162, 162, 0.233);
    border: 2px solid rgba(0, 0, 0, 0.315);
    transform: scale(1);
    transition: .5s;
}

.cuadro-texto {
    display: none; 
    transition: 2s;
}

.cuadro-contenedor:hover {
    height: 250px;
}

.cuadro-contenedor:hover > .cuadro-texto {
    display: block;
    transition: 2s;
    text-align: center;
    position: relative;
    bottom: 155px;
    color: rgb(27, 26, 26);
    font-size: 20px;
    margin: 0em;
}

.cuadro-contenedor:hover > .cuadro-imagen {
    opacity: .5;
    transition: .5s;
    transform: scale(1.2);
    margin: auto;
}

.exposicion {
    width: 70%;
    max-width: 900px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.background-exposicion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-exposicion {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    letter-spacing: 25px;
    margin: 30px;
}

.info-exposicion {
    list-style: none;
    margin: 0;
    text-align: center;
}

.titulo-info-exposicion {
    font-size: 19px;
}

.item-info-exposicion {
    font-size: 18px;
}

.background-contacto {
    width: 100%;
    height: auto;
    background-color: rgba(109, 109, 109, 0.192);
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.363);
    margin: 30px 0 0 0;
    box-sizing: border-box;
    padding-top: 1px; 
    display: flex;
    flex-direction: column;
}    

.titulo-contacto {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    letter-spacing: 25px;
}

.contacto {
    width: 100%;
    max-width: 900px;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto 0px auto;
    box-sizing: border-box;
}

.formulario-contacto {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Cutive Mono', monospace;
}

.formulario-contacto > input {
    margin: 5px;
    width: 70%;
    max-width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.089);
    font-family: 'Cutive Mono', monospace;
}

.formulario-contacto > textarea {
    margin: 5px;
    width: 70%;
    max-width: 420px;
    height: 70px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.089);
    font-family: 'Cutive Mono', monospace;
    resize: none;
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}

.boton-contacto {
    width: 40%;
    max-width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.089);
    background-color: rgb(177, 177, 177);
    font-weight: bold;
}

.boton-contacto:hover {
    background-color: rgb(112, 112, 112);
}

.redes-contacto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    box-sizing: border-box;
}

.boton-imagen {
    width: 25px;
    height: 25px;
    position: relative;
    top: 2px;
    opacity: 0.95;
}

.boton-background {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-background:hover {
    background-color: rgba(128, 128, 128, 0.288);
}

.datos-web {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: auto auto 2px auto;
    text-align: center;
}

.boton-up {
    display: none;
}

@media (max-width: 1100px) {

    html, body {
        width: 100%; 
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 60%;
        max-width: 400px;
        min-width: 200px;
    }

    .obras {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cuadro-contenedor {
        margin: 0 10px;
    }

}

@media (max-width: 480px) {

    html, body {
        width: 100%; 
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        height: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .logo {
        width: 85%;
        margin-top: 60px;
    }

    .menu {
        display: none;
    }
    
    .menu-mobile-background {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        border-bottom: 2px solid black;
        z-index: 1;
        background-color: white;
    }

    .menu-icono {
        width: 45px;
        height: 45px;
        margin: 5px auto 0px 20px;
    }

    .menu-mobile-label {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        align-items: center;
        height: 0;
        width: 100%;
        line-height: 1.9;
        margin: 0 auto;
        box-sizing: border-box;
        font-weight: 1000;
        transition: height 1s ease;
        overflow: hidden;
        padding: 0;
    }

    .menu-mobile-input {
        display: none;
    }

    .item-menu {
        font-size: 20px;
    }

    .menu-mobile-input:checked ~ .menu-mobile {
        height: 115px;
    }

    .slider {
        display: none;
    }

    .pagination {
        display: none;
    }

    .container-all {
        border-radius: 0;
    }

    .background-obras {
        display: none;
    }

    .background-obras-mobile {
        display: flex;
        justify-content: center;
    }

    .obras {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto 0;
    }

    .abrir-cuadro-input:checked ~ .cuadro-contenedor:hover {
        transition: 1s;
        margin: 20px auto;
        box-sizing: border-box;
        background-color: rgba(218, 216, 216, 0.445);
        border-radius: 5px;    
        border: 5px solid rgba(107, 107, 107, 0.111);
        border-top: none;
        padding-top: 3px;
    }

    .abrir-cuadro-input:checked ~ .cuadro-contenedor:hover img {
        opacity: 1;
        transition: 1s;
        transform: scale(1.07);
        border: none;
        margin: 20px auto;
    }

    .titulo-cuadro-mobile {
        display: none; 
        transition: 2s;
    }

    .descripcion-cuadro-mobile {
        display: none; 
        transition: 2s;
    }

    .abrir-cuadro-input {
        display: none;
    }

    .abrir-cuadro-input:checked ~ .cuadro-contenedor:hover label {
        display: block;
        transition: 2s;
        z-index: 1;
    }

    .abrir-cuadro-input:checked ~ .cuadro-contenedor:hover h4 {
        display: block;
        transition: 2s;
        text-align: center;
        color: rgb(27, 26, 26);
        font-size: 23px;
        margin: 2px auto;
        position: relative;
        top: 5px;
    }

    .abrir-cuadro-input:checked ~ .cuadro-contenedor:hover p {
        display: block;
        transition: 2s;
        text-align: center;
        color: rgb(27, 26, 26);
        font-size: 20px;
        margin: 0em;
        position: relative;
        bottom: 5px;
    }

    .cuadro-contenedor {
        width: 100%;
        height: auto;
    }

    .cuadro-contenedor:hover {
        height: auto;
    }

    .cuadro-imagen {
        margin: 5px 0;
        width: 100%;
        height: auto;
    }

    .titulo-exposicion {
        margin: 20px auto 10px auto;
        text-align: center;
        position: relative;
        left: 5px;
    }

    .info-exposicion {
        padding: 0;
    }

    .contacto {
        width: 80%;
    }

    .titulo-contacto {
        text-align: center;
        position: relative;
        left: 5px;
    }

    .formulario-contacto {
        padding: 0px;
        width: 100%;
        height: auto;
    }

    .formulario-contacto > input {
        width: 100%;
        height: 30px;
        max-width: none;
    }

    .formulario-contacto > textarea {
        width: 100%;
        height: 80px;
        max-width: none;
    }

    .formulario-contacto > button {
        width: 80%;
    }

    .boton-up {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 40px;
        height: 40px;
    }
    
}